<div class="container">
  <div class="card"  style="border: none; border-radius: 5px;">
    <div class="card-title">
      <div class="card card-live-auction">
        <div class="card-body" style="padding: 10px;">
          <h4><strong>Live Auction</strong></h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-md-4">
          <div style="border-radius: 5px;" class="card">
            <div class="card-body" style="padding: 0;">
              <img
                src="https://image.shutterstock.com/image-photo/three-fresh-rolled-stuffed-crepes-260nw-778847197.jpg"
                class="img-fluid" alt="Responsive image">
              <br>
              <div class="card">
                <div class="card-body live-auction-assist-history">
                  <div class="row">
                    <div class="col-md-5" style="color: white">
                      <h6 class="mt-1 ml-2">Live Auction</h6>
                    </div>
                    <div class="col-md-7">
                      <button type="button" class="btn btn-live-auction float-right btn-light btn-sm">History</button>
                      <button type="button" class="btn btn-live-auction float-right btn-light btn-sm mr-2">Assist
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-bidding-prices">
                <div class="card-body" style="padding: 7px;">
                  <div class="form-group row bidding-prices">
                    <div class="col-md-6">
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                    </div>
                    <div class="col-md-6">
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card text-center time-bidding">
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <h6 class="float-right"> Time Left</h6>
                    </div>
                    <div class="col-md-6">
                      <h6 class="float-left">Round 2</h6>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-5">
                      <h2 class="float-right">90</h2>
                    </div>
                    <div class="col-md-2">
                      <h2>:</h2>
                    </div>
                    <div class="col-md-5">
                      <h2 class="float-left">56</h2>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <small class="float-right"><strong>Mins</strong></small>
                    </div>
                    <div class="col-md-6">
                      <small class="float-left"> <strong>Secs</strong></small>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h3>Php 5,000,050</h3>
                  <small>Current Bid</small>
                  <br>
                  <small>Bid Increment: Php 20,000</small>
                  <br>
                  <small>On-market Price: Php 20,000</small>
                  <br>
                  <button type="button" class="btn btn-success bid-now-button mt-2">Bid Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div style="border-radius: 5px;" class="card">
            <div class="card-body" style="padding: 0;">
              <img
                src="https://image.shutterstock.com/image-photo/three-fresh-rolled-stuffed-crepes-260nw-778847197.jpg"
                class="img-fluid" alt="Responsive image">
              <br>
              <div class="card">
                <div class="card-body live-auction-assist-history">
                  <div class="row">
                    <div class="col-md-5" style="color: white">
                      <h6 class="mt-1 ml-2">Live Auction</h6>
                    </div>
                    <div class="col-md-7">
                      <button type="button" class="btn btn-live-auction float-right btn-light btn-sm">History</button>
                      <button type="button" class="btn btn-live-auction float-right btn-light btn-sm mr-2">Assist
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-bidding-prices">
                <div class="card-body" style="padding: 7px;">
                  <div class="form-group row bidding-prices">
                    <div class="col-md-6">
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                    </div>
                    <div class="col-md-6">
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card text-center time-bidding">
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <h6 class="float-right"> Time Left</h6>
                    </div>
                    <div class="col-md-6">
                      <h6 class="float-left">Round 2</h6>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-5">
                      <h2 class="float-right">90</h2>
                    </div>
                    <div class="col-md-2">
                      <h2>:</h2>
                    </div>
                    <div class="col-md-5">
                      <h2 class="float-left">56</h2>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <small class="float-right"><strong>Mins</strong></small>
                    </div>
                    <div class="col-md-6">
                      <small class="float-left"> <strong>Secs</strong></small>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h3>Php 5,000,050</h3>
                  <small>Current Bid</small>
                  <br>
                  <small>Bid Increment: Php 20,000</small>
                  <br>
                  <small>On-market Price: Php 20,000</small>
                  <br>
                  <button type="button" class="btn btn-success bid-now-button mt-2">Bid Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div style="border-radius: 5px;" class="card">
            <div class="card-body" style="padding: 0;">
              <img
                src="https://image.shutterstock.com/image-photo/three-fresh-rolled-stuffed-crepes-260nw-778847197.jpg"
                class="img-fluid" alt="Responsive image">
              <br>
              <div class="card">
                <div class="card-body live-auction-assist-history">
                  <div class="row">
                    <div class="col-md-5" style="color: white">
                      <h6 class="mt-1 ml-2">Live Auction</h6>
                    </div>
                    <div class="col-md-7">
                      <button type="button" class="btn btn-live-auction float-right btn-light btn-sm">History</button>
                      <button type="button" class="btn btn-live-auction float-right btn-light btn-sm mr-2">Assist
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-bidding-prices">
                <div class="card-body" style="padding: 7px;">
                  <div class="form-group row bidding-prices">
                    <div class="col-md-6">
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                    </div>
                    <div class="col-md-6">
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                      <br>
                      <small>Bidder 1: Php 5,040,000</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card text-center time-bidding">
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <h6 class="float-right"> Time Left</h6>
                    </div>
                    <div class="col-md-6">
                      <h6 class="float-left">Round 2</h6>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-5">
                      <h2 class="float-right">90</h2>
                    </div>
                    <div class="col-md-2">
                      <h2>:</h2>
                    </div>
                    <div class="col-md-5">
                      <h2 class="float-left">56</h2>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <small class="float-right"><strong>Mins</strong></small>
                    </div>
                    <div class="col-md-6">
                      <small class="float-left"> <strong>Secs</strong></small>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h3>Php 5,000,050</h3>
                  <small>Current Bid</small>
                  <br>
                  <small>Bid Increment: Php 20,000</small>
                  <br>
                  <small>On-market Price: Php 20,000</small>
                  <br>
                  <button type="button" class="btn btn-success bid-now-button mt-2">Bid Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="border: none;">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-7">
            <div class="card" style="border-radius: 5px;">
              <div class="card-title properties-fees-changes">
                <h5>No Content Now</h5>
              </div>
              <div class="card-body">
                <h6>Due alligance simply means that the buyes finds out as much about the  property as should be necessary before making a decision to buy.</h6>
                <br>
                <small><strong>(1) At tge opening bid price,if there are two or more bidders for a property, the bid price will be subsequently increased by P20,000.00 per round of biddding, for the
                next five rounds</strong></small>
                <br>
                <small><strong>(2) By the sixth round of biidding, if there are still two or  more bidders for a property, the bid price will be increased by P50,000.00 PER ROUND OF BIDDING</strong></small>
                <br>
                <small><strong>(3) By th elevent round of bidding if there are  still towo or more bidders for a properties the bid price will then be increased bt P100,000.00
                per round of bidding, until the fifteenth round</strong></small>
                <br>
                <small><strong>(4) beyond the fifteenth round of the bidding , the auctioner is given sole discreation to increase the bid price by any amount</strong></small>
                <br>
                <small><strong>(5) bidding continues until such time that there is only one bidder  for the property  being  bid out After a winning/highest bidder emerges, the property being bid out is declared sold,An award certificate is then issued in the name of the winning bidder.</strong></small>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card" style="border-radius: 5px;">
              <div class="card-title properties-fees-changes">
                <h5>Property Fees and Changes</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h6>On the basis of this award certificate, the winning bidder will then be required:</h6>
                  </li>
                  <li class="list-group-item">
                    <h6>Within five working days after the auction</h6>
                    <small class="mb-1"><strong>For cash purchases</strong></small>
                    <br>
                    <small>To pay the 10% down payment in full</small>
                    <br>
                    <small class="mb-1"><strong>For installment purchases</strong></small>
                    <br>
                    <small>To pay the first installment of the required 10% down payment.</small>
                    <br>
                    <small>To sign the Contract to Sell.</small>
                    <br>
                    <small>To submit such number of post dated Checks Corresponding to the installment payments for the down payment
                    , as well as the first two years monthly amortizations</small>
                    <br>
                    <small>Whether the winning bidder pays in cash or installments, the P20,000.00 show money deposited upon registration will credited as part of the down payment. ACCORDINGLY, THIS SHOW MONEY MAY NO LONGER BE WITHDRAWAN</small>
                    <br>
                    <br>
                    <small><strong>1. Only the show money of non-winning bidders will be returned to auction participants right after the auction.</strong></small>
                    <br>
                    <small><strong>2. In contrast in the event the winning bidders fails to pay the full downpayment or installment on down payment within the timeframe specified, the P20, 000.00 show money will be forfetited.</strong></small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
